@model HomeDetailsViewModel
@{     
    ViewBag.Title = "Details Page";
}


@section Details {
    <section class="viewData, details">
        <h1>@ViewData["PageTitleVD"]</h1>
        @{
            var employee = ViewData["Employee"] as EmployeeManagment.Models.Employee;
        }

        <div>
            <p>Name: <span class="span">@employee.Name</span></p>
        </div>
        <div>
            <p>Email: <span class="span">@employee.Email</span></p>
        </div>
        <div>
            <p>Department: <span class="span">@employee.Department</span></p>
        </div>
    </section>
    <hr />
    <section class="viewBag, details">
        <h1>@ViewBag.PageTitleVB</h1>
        <div>
            <p>Name: <span class="span">@ViewBag.Employee.Name</span></p>
        </div>
        <div>
            <p>Email: <span class="span">@ViewBag.Employee.Email</span></p>
        </div>
        <div>
            <p>Department: <span class="span">@ViewBag.Employee.Department</span></p>
        </div>
    </section>
    <hr />
    <section class="viewModel, details">
        <h1>@Model.PageTitle</h1>
        <div>
            <p>Name: <span class="span">@Model.Employee.Name</span></p>
        </div>
        <div>
            <p>Email: <span class="span">@Model.Employee.Email</span></p>
        </div>
        <div>
            <p>Department: <span class="span">@Model.Employee.Department</span></p>
        </div>
    </section>
}
